# Normalizzazione dei file testuali
* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.tex text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# File binari
*.pdf binary
*.zip binary
